.finding-header
    .header-decoration
        .col.header-id
            #{id}
        .col.risk-chart
            #{riskChart}
        .col.status-icon
            #{statusIcon}
    dt.finding-header-data
        != {{findingRenderedFields}}