
body
  font-family 'Nunito'
  font-size 12pt

pre, code, p, span, div
  width auto
  max-width 100%
  overflow-wrap break-word

code
  font-family 'Consolas', monospace
  font-size 0.9em
  white-space pre-wrap
